root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
max_line_length = 120
tab_width = 2
trim_trailing_whitespace = true

[{.idea/**,bin/**}]
end_of_line = unset
insert_final_newline = unset
max_line_length = unset
trim_trailing_whitespace = unset
indent_size = unset

[{go.sum,*.md,Makefile}]
max_line_length = off

[{Makefile,go.mod,*.go}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
