name: Lint Code Base

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Lint Code Base
        uses: github/super-linter@v3
        env:
          VALIDATE_GO: true
          VALIDATE_EDITORCONFIG: true
          VALIDATE_MD: true
          VALIDATE_YAML: true
          DEFAULT_BRANCH: main
